@model PCB.NET.Web.Areas.PCB.Models.WarehouseViewModel.PackageViewModel

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Размеры элементов</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Packs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packs)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="@Url.Action("PackageList")" class="btn btn-default">Назад к списку</a>
        </div>
    }
</div>
