@model List<PCB.NET.Domain.Model.WorkshopPCB.Warehouse.SMD>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (var m in Model)
    {
        <p>

            @m.ValueItem

        </p>
    }
</div>

