@{
    ViewBag.Title = "Работа с персоналом";
    Layout = "~/Areas/PCB/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Рабочий персонал</h2>
        <p>
            Добавление/удаление/изменение работников
        </p>
        <p><a class="btn btn-default" href="@Url.Action("EmployeeList","Employee", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Выполненная работа</h2>
        <p>
            Ежедневная регистрация выполненной работы
        </p>
        <p><a class="btn btn-default" href="@Url.Action("DoneWorkList","Employee", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Должности работников</h2>
        <p>
            Добавление/удаление/изменение должностей
        </p>
        <p><a class="btn btn-default" href="@Url.Action("PositionList","Employee", new { area = "PCB"})">Открыть &raquo;</a></p>
    </div>
</div>