@{
    ViewBag.Title = "Home Bylectrica";
}

<div class="jumbotron">
    <h1>BYLECTRICA <small class="lead">work space</small></h1>
    <p class="lead">Рабочее пространство Унитарного Предприятия "Светоприбор" ОО "БелТИЗ"</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Printed Circuit Board</h2>
        <p>
            Цех навестных элементов.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Home", new { area = "PCB"})">Войти &raquo;</a></p>
    </div>
</div>